<%- include ("partials/header")-%>
<h1 class="title">Profile</h1>
<div class="title-text">
  <p>All the personal information about the user will be displayed here ....</p>
</div>
<%- include ("partials/footer")-%>
