<%- include("partials/header") -%>
<h1 class="title">Result</h1>
<div class="title-text">
  <p>Different files for marks of subjects to be displayed with the status of student as pass/ failed.</p>
</div>
<%- include("partials/footer") -%>
